<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keyword" content="">
    <meta name="description" content="eBay, Amazon, 商品搬家, 一键上传">
    <meta name="author" content="elyot">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/header.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/main.css" rel="stylesheet">
    <link type="text/css" href="../static/css/admin.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="header-content">
			<a id="logo" href="index.php">LzWeb</a>
			<a class="login-btn">登录/注册</a>
		</div>
	</div>
    <div class="main">
        <div class="sidebar">
            <a class="menu active" href="javascript:void(0)">任务管理</a>
            <a class="menu normal" href="javascript:void(0)">会员管理</a>            
        </div>
        <div class="workspace">
            <h1>任务管理</h1>
            <div class="workspace-content">
                <div class="workspace-part">
                    <h3>请选择一个主题类别</h3>
                    <select>
                        <option>123</option>
                        <option>123</option>
                        <option>123</option>
                        <option>123</option>
                    </select>
                </div>
                <div class="workspace-part">
                    <h3>该主题类别的任务列表</h3>
                    <table>
                        <tr>
                            <th>编号</th>
                            <th>任务名称</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td class="td25">1</td>
                            <td class="td50">2</td>
                            <td class="td25">
                                <a href="javascript:void(0)" class="small-blue-button">查看该任务</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="td25">1</td>
                            <td class="td50">2</td>
                            <td class="td25">
                                <a href="javascript:void(0)" class="small-blue-button">查看该任务</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>