<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="author" content="elyot">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/header.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/main.css" rel="stylesheet">
    <link type="text/css" href="../static/css/mission/mission.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="header-content">
			<a id="logo" href="index.php">LzWeb</a>
			<a class="login-btn">登录/注册</a>
		</div>
	</div>
	<div class="nav">
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>		
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div style="padding-right: 22px; text-align: right">
			<a href="#more">查看更多项目</a>
		</div>
	</div>
	<div id="banner"></div>
	<div class="main">
		<div class="main-header">
			<span class="sub-title">教育任务</span>
			<div style="float: right">
				<a class="middle-blue-button" href="javascript:void(0)">我要发布任务</a>
			</div>
		</div>
		<div class="main-body">
			<div class="sort-handler">
				<a class="sort-element">默认排序</a>
				<a class="sort-element">按时间排序</a>
				<a class="sort-element">按悬赏金额排序</a>
			</div>
			<div class="mission">
				<div class="mission-left">
					<span class="mission-title">希望小学送温暖计划</span>
					<br/>发布者:dsjkfjkdsf
				</div>
				<div class="mission-right">
					发布时间：2014-12-15 08：47
					<br/>回复：3 &nbsp;点赞：10
				</div>
			</div>
			<div class="mission">
				<div class="mission-left">
					<span class="mission-title">希望小学送温暖计划</span>
					<br/>发布者:dsjkfjkdsf
				</div>
				<div class="mission-right">
					发布时间：2014-12-15 08：47
					<br/>回复：3 &nbsp;点赞：10
				</div>
			</div>
			<div class="mission">
				<div class="mission-left">
					<span class="mission-title">希望小学送温暖计划</span>
					<br/>发布者:dsjkfjkdsf
				</div>
				<div class="mission-right">
					发布时间：2014-12-15 08：47
					<br/>回复：3 &nbsp;点赞：10
				</div>
			</div>
			<div class="handler-area">
				<a class="page-handler-element">上一页</a>
				<a class="page-handler-element">1/10</a>
				<a class="page-handler-element">下一页</a>
			</div>
		</div>
	</div>
</body>