<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keyword" content="">
    <meta name="description" content="eBay, Amazon, 商品搬家, 一键上传">
    <meta name="author" content="elyot">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/header.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/main.css" rel="stylesheet">
    <link type="text/css" href="../static/css/mission/mission.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="header-content">
			<a id="logo" href="index.php">LzWeb</a>
			<a class="login-btn">登录/注册</a>
		</div>
	</div>
	<div class="nav">
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>		
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div style="padding-right: 22px; text-align: right">
			<a href="#more">查看更多项目</a>
		</div>
	</div>
	<div id="banner"></div>
	<div class="main">
		<h2 class="mission-banner">发布项目</h2>
		<div class="mission-content">
			<div class="row">
				<div class="left-label">项目名称：</div>
				<div class="right-input">
					<input class="user-input" name="project-name"/>
				</div>
			</div>
			<div class="row">
				<div class="left-label">悬赏金额：</div>
				<div class="right-input">
					<input class="user-input" name="project-name"/>
				</div>
			</div>
			<div class="row">
				<div class="left-label">项目描述：</div>
				<div class="right-input">
					<div contenteditable="true" class="textarea"></div>
				</div>
			</div>
			<div class="row" style="text-align: center">
				<a href="javascript:void(0)" class="middle-blue-button">发布任务</a>
			</div>
		</div>
	</div>
</body>
</html>