<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keyword" content="">
    <meta name="description" content="eBay, Amazon, 商品搬家, 一键上传">
    <meta name="author" content="elyot">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/header.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/main.css" rel="stylesheet">
    <link type="text/css" href="../static/css/mission/mission.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="header-content">
			<a id="logo" href="index.php">LzWeb</a>
			<a class="login-btn">登录/注册</a>
		</div>
	</div>
	<div class="nav">
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>		
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div class="seq"></div>
		<div class="nav-column">
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
			<div class="nav-row">
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
				<a class="nav-element" href="javascript:void(0)">梦想</a>
			</div>
		</div>
		<div style="padding-right: 22px; text-align: right">
			<a href="#more">查看更多项目</a>
		</div>
	</div>
	<div id="banner"></div>
	<div class="main">
		<div class="mission-content">
			<h2>项目名称：希望小学送温暖计划</h2>
			<div class="mission-header">
				<span>发布者：许贺</span><span>发布时间：2014-7-10 14:21:30</span><br/>
				<span>项目赏金：500赏金</span>
			</div>
			<p class="mission-desc">
				项目描述：<br/>
				在大家眼中：
				退了伍的军人，就等于没有了梦想，因为在部队里的几百个，几千个日夜除了接受安排和命令，其他的什么都不会，曾经的三点一线的生活，枯燥而稳定，所以现在退伍的军人，也只会继续寻求稳定的生活就这么过下去。保安？司机？工人？真的是您想要的吗？真的是您要从事一辈子的职业吗？
				其实我觉得并不是这样的，曾经的军人是光荣的，为国家付出了青春和热血，即使融入了社会，也应该享受着VIP的工作待遇，请不要轻易的对自己妥协，稳定的工作在社会只适合那些安逸没有拼搏精神的人，而你们绝对不是那种人，因为从新兵到老兵，从部队到退伍，你们也是经过打磨的一群人，你们具有异于常人的意志和奋发义气！
				也许当下的你没有任何的核心竞争优势，没有任何的社会经验，但是我们会有一带一的师徒制，会有岗前班培训.
			</p>
			<textarea id="area">
			</textarea>
			<a class="small-blue-button" id="reply-btn">回复</a>
			<div class="comment">
				<a href="javascript:void(0)">点赞(5)</a><a href="javascript:void(0)">回复(5)</a>
			</div>
			<div class="mission-reply">
				<h2>2条回复</h2>
				<div class="mission-header">
					<span>许贺</span><span>2014-7-10 14:21:30</span>
					<a href="javascript:void(0)">点赞(5)</a>
				</div>
				<p class="mission-desc">
				在大家眼中：
				退了伍的军人，就等于没有了梦想，因为在部队里的几百个，几千个日夜除了接受安排和命令，其他的什么都不会，曾经的三点一线的生活，枯燥而稳定，所以现在退伍的军人，也只会继续寻求稳定的生活就这么过下去。保安？司机？工人？真的是您想要的吗？真的是您要从事一辈子的职业吗？
				</p>
			</div>
			<div class="mission-reply">
				<div class="mission-header">
					<span>许贺</span><span>2014-7-10 14:21:30</span>
					<a href="javascript:void(0)">点赞(5)</a>
				</div>
				<p class="mission-desc">
				在大家眼中：
				退了伍的军人，就等于没有了梦想，因为在部队里的几百个，几千个日夜除了接受安排和命令，其他的什么都不会，曾经的三点一线的生活，枯燥而稳定，所以现在退伍的军人，也只会继续寻求稳定的生活就这么过下去。保安？司机？工人？真的是您想要的吗？真的是您要从事一辈子的职业吗？
				</p>
			</div>
		</div>
	</div>
</body>
</html>