<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keyword" content="">
    <meta name="description" content="eBay, Amazon, 商品搬家, 一键上传">
    <meta name="author" content="elyot">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/header.css" rel="stylesheet">
    <link type="text/css" href="../static/css/layout/main.css" rel="stylesheet">
    <link type="text/css" href="../static/css/type.css" rel="stylesheet">
	<link type="text/css" href="../static/css/personal.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#my-personal").css({"display": "block"});
        $(".operation-element").click(choose_tab);
        function choose_tab(event){
            $(".operation-body").css({"display": "none"});
            $(".operation-element").attr({"class": "operation-element"});
            var target_body = "#my-"+$(event.target).attr("id");
            $(event.target).attr({"class": "operation-element active"});
            console.log(target_body)
            $(target_body).css({"display": "block"});
        }
    });
    </script>
</head>
<body>
	<div class="header">
		<div class="header-content">
			<a id="logo" href="index.php">LzWeb</a>
			<a class="login-btn">登录/注册</a>
		</div>
	</div>
    <div class="nav">
        <div class="nav-column">
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
        </div>
        <div class="seq"></div>
        <div class="nav-column">
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
        </div>
        <div class="seq"></div>
        <div class="nav-column">
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
        </div>
        <div class="seq"></div>     
        <div class="nav-column">
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
        </div>
        <div class="seq"></div>
        <div class="nav-column">
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
        </div>
        <div class="seq"></div>
        <div class="nav-column">
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
        </div>
        <div class="seq"></div>
        <div class="nav-column">
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
            <div class="nav-row">
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
                <a class="nav-element" href="javascript:void(0)">梦想</a>
            </div>
        </div>
        <div style="padding-right: 22px; text-align: right">
            <a href="#more">查看更多项目</a>
        </div>
    </div>
    <div id="banner"></div>
    <div class="main">
        <div></div>
        <h2 class="operation-banner">
            <a class="operation-element active" href="javascript:void(0)" id="personal">个人信息</a>
            <a class="operation-element" href="javascript:void(0)" id="mission">我的任务</a>
            <a class="operation-element" href="javascript:void(0)" id="reply">我的回复</a>
        </h2>
        <div class="operation-body" id="my-personal">
            <div class="desc-list">
                <span class="float-left">用户</span>
                <span class="float-left">许贺</span>
            </div>
            <div class="desc-list">
                <span class="float-left">昵称</span>
                <span class="float-left">2014-12-24 21:47:09</span>
            </div>
            <div class="desc-list" id="modify-nick-area">
                <span class="float-left">修改昵称为</span>
                <input class="float-left user-input" />
            </div>
            <div id="modify-password-area">
                <div class="desc-list" id="modify-nick-area">
                    <span class="float-left">请输入密码</span>
                    <input class="float-left user-input" />
                </div>
                <div class="desc-list" id="modify-nick-area">
                    <span class="float-left">请再次输入</span>
                    <input class="float-left user-input" />
                </div>
            </div>
            <div class="desc-list">
                <a href="javascript:void(0)" class="middle-blue-button">修改昵称</a>
                <a href="javascript:void(0)" class="middle-blue-button">修改密码</a>
            </div>
        </div>
        <div class="operation-body" id="my-mission">
            <div class="desc-list">
                <span class="float-left">任务名称任务名称</span>
                <a href="javascript:void(0)" class="float-right">删除任务</a>
                <span class="float-right">2014-12-24 21:47:09</span>
            </div>
            <div class="desc-list">
                <span class="float-left">任务名称任务名称</span>
                <a href="javascript:void(0)" class="float-right">删除任务</a>
                <span class="float-right">2014-12-24 21:47:09</span>
            </div>
            <div class="desc-list">
                <span class="float-left">任务名称任务名称</span>
                <a href="javascript:void(0)" class="float-right">删除任务</a>
                <span class="float-right">2014-12-24 21:47:09</span>
            </div>
        </div>
        <div class="operation-body" id="my-reply">
            <div class="desc-list">
                <span class="float-left">任务名称</span>
                <a href="javascript:void(0)" class="float-right">删除回复</a>
                <span class="float-right">2014-12-24 21:47:09</span>
            </div>
            <div class="desc-list">
                <span class="float-left">任务名称任务名称</span>
                <a href="javascript:void(0)" class="float-right">删除回复</a>
                <span class="float-right">2014-12-24 21:47:09</span>
            </div>
            <div class="desc-list">
                <span class="float-left">任务名称任务名称</span>
                <a href="javascript:void(0)" class="float-right">删除回复</a>
                <span class="float-right">2014-12-24 21:47:09</span>
            </div>
        </div>
    </div>
</body>
</html>